<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.DoctorMapper">

	<select id="selectDoctorById" parameterType="int" resultType="Doctor">
		select * from doctor where id=#{id}
	</select>
	
	<select id="selectDoctorByUsername" parameterType="String" resultType="Doctor">
		select * from doctor where username=#{username}
	</select>
	
	<select id="selectByUsernameAndPass" parameterType="Doctor" resultType="Doctor">
		select * from doctor where username=#{username} and password=#{password}
	</select>
	
	<insert id="insertDoctor" parameterType="Doctor">
		insert into doctor(name, username, password, hospital, department, create_time, update_time) values (#{name}, #{username}, #{password}, #{hospital}, #{department}, #{create_time}, #{update_time})
	</insert>
	
	<update id="updateName">
		update doctor set name=#{name} where id=#{id}
	</update>
	
	<update id="updateSex">
		update doctor set sex=#{sex} where id=#{id}
	</update>
	
	<update id="updateHospital">
		update doctor set hospital=#{hospital} where id=#{id}
	</update>
	
	<update id="updateDepartment">
		update doctor set department=#{department} where id=#{id}
	</update>
    
</mapper>